<h2>Enter a druid or PURL:</h2>

<%= form_tag results_path, method: :post do %>

  <%= text_field_tag(:input_value, @input_value, size: 100) %>
  <%= submit_tag("Process", data: { disable_with: "Sending to Google API ... please wait ..." }) %>

<% end %>
